@font-face {
  font-family: "leckerli";
  src:
  url("fonts/CourierPrime.woff2") format("woff2"),
  url("fonts/CourierPrime.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "raleway";
  src: 
  url("fonts/Raleway-Bold.woff2") format("woff2"),
  url("fonts/Raleway-Bold.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  margin: 0;
  width: 100%;
}

.card-image {
  position: absolute;
  margin: 0;
  left: 0;
  height: 100vh;
  width: 38vw;
}

.card-container {
  position: relative;
  width: 100%;
  height: 100%;
}

.card-body {
  --modal-font-size: calc(2rem + 2vw);
  --modal-box-size: calc(2rem + 2rem);
  
  font-family: "leckerli", serif;
  position: absolute;
  width: 38vw;
  background: black;
  opacity: 0.5;
  color: white;
  top: 2rem;
  text-align: center;
  font-size: var(--modal-font-size);
  height: var(--modal-box-size);
}

.card-heading {
  position: relative;
}

.card-credit {
  top: 75vh;
  color: white;
  position: relative;
  font-size: 8px;
}

.sign-up {
  margin-top: 50px;
  position: relative;
  left: 38vw;
  width: 62vw;
  background-color: #EAEDF0;
  height: 200px;
}

.intro {
  text-align: left;
  font-family: "leckerli";
  margin-left: 56px;
  padding: 16px;
}

.heading {
  position: relative;
  font-size: 15px;
  top: 20px;
  left: 44vw;
  text-align: left;
  width: 40vw;
}

.head {
  font-family: "raleway", sans-serif;
}

.form {
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  height: 80px;
  width: 10vw;
}

.form input[type="text"],
.form input[type="email"],
.form input[type="tel"],
.form input[type="password"] {
  width: 110px;
  height: 15px;
  font-size: 12px;
}

.row-one, .row-two {
  display: flex;
  gap: 60px;
  margin-left: 60px;
  align-items: flex-start;
}

.form label {
  font-size: 12px;
  width: 130px;
  text-wrap: nowrap;
  font-family: "raleway", sans-serif;
}

 button {
  position: relative;
  left: 4vw;
  top: 4vw;
  margin: 15px;
  height: 30px;
  width: 160px;
  background-color: darkolivegreen;
  color: whitesmoke;
  font-size: 12px;
  font-family: "raleway", sans-serif;
}

.footer {
  position: relative;
  left: 44vw;
  top: 7vw;
  font-size: 12px;
  width: 190px;
  font-family: "raleway", sans-serif;
}

div.form {
  height: 35px;
  margin: 10px ;
}

a:link {
  color: slategray;
  text-decoration: none;
}

a:visited {
  color: blueviolet;
}