@font-face {
  font-family: "leckerli";
  src:
  url("fonts/LeckerliOne.woff2") format("woff2"),
  url("fonts/LeckerliOne.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  margin: 0;
}

.card-image {
  position: absolute;
  margin: 0;
  left: 0;
  height: 100vh;
  width: 38vw;
}

.card-container {
  position: relative;
  width: 100%;
  height: 100%;
}

.card-body {
  --modal-font-size: calc(2rem + 2vw);
  --modal-box-size: calc(2rem + 2rem);
  
  font-family: "leckerli", serif;
  position: absolute;
  width: 38vw;
  background: black;
  opacity: 0.5;
  color: white;
  top: 2rem;
  text-align: center;
  font-size: var(--modal-font-size);
  height: var(--modal-box-size);
}


.card-heading {
  position: relative;
}

.card-credit {
  top: 65vh;
  color: white;
  position: relative;
  font-size: 10px;
}

.sign-up {
  margin: 0;
  position: relative;
  left: 50vw;
  top: 20vh;
}

.heading {
  padding-bottom: 25px;
}